.card{
    position: relative;
    height: 370px;
    transition: .3s ease-out;
    box-shadow: 0 3px 15px rgba($color-shadow,.7);
    color: $text-color-dark;

    &__img-box{
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        left: 0;
    }

    &__img{
        width: 100%;
        height: 80%;
        display: block;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        transition: .5s;
    }

    &__content{
        width: 100%;
        height: 100px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: $color-grey-light-1;
        padding: 12px;
        transition: all 0.5s cubic-bezier(.48, -.28, .41, 1.4);
        box-sizing: border-box;
        overflow: hidden;

    }

    &__heading{
        line-height: 60px;
      text-align: center;
      font-size: 2.5rem;
    }

    &__text{
        transform: translateY(2em);
        line-height: 1.3em;
        transition: .3s;
        text-align: justify;
        opacity: 0;
        font-size: 1.6rem;
    }

    &__input{
        width: 100%;
        padding: 1.5rem 4rem;
        border-radius: 100px;
        border: 1px solid $color-tertiary-light;
        position: relative;

        &:focus{
            outline: none;
        }

       
    }

    &__list{
        width: 100%;
        list-style: none;
        padding: 0 .5em;
    }

    &__item{
        display: flex;
        justify-content: space-between;
        padding: 3px;
        font-size: 12px;

      

        &:not(:last-child){
            margin-bottom: 5px;
            border-bottom: 1px solid $color-grey-dark-2;
        }
    }

    &:hover{
        box-shadow: 0 0 5em rgba($color-shadow,.4);
        .card__content{
            width: 100%;
            height: 75%;
            left: 0;
            bottom: 0;
        }

        .card__text{
            transform: translateY(0);
            opacity: 1;
        }


    }
}